@import "base/base";
@import "bourbon";

/* ===========================
 *  Top menu styles
 * =========================== */

.menu {
  height: 39px;
  -webkit-user-select: none;
  -webkit-app-region: drag;
  border-bottom: solid 1px #BDBDBD;

  .tab {
    position: relative;
    float: left;
    background-color: white;
    color: #ABABAB;
    height: 39px;
    padding: 0 10px;
    line-height: 40px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 400;
    -webkit-app-region: no-drag;
    border-bottom: solid 1px #BDBDBD;
    border-right: solid 1px #BDBDBD;
  }

  .tab:hover {
    color: #969696;
  }

  .tab.focus {
    color: #717171;
    border-bottom: solid 1px white;
  }

  .tab.focus:hover {
    color: #373737;
  }

  .tab.add {
    padding: 0 15px;
    border-bottom: solid 1px #BDBDBD;
  }

  .tab.add:hover {
    color: white;
    background-color: #4E4E4E;
  }

  /**
   * Buttons inside tabs
   */
  .subbutton {
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    text-align: center;
    width: 15px;
    height: 15px;
    position: absolute;
    -webkit-app-region: no-drag;
  }
  .subbutton.close {
    left: 0;
    top: 0px;
    color: #717171;
  }
  .subbutton.close:hover {
    color: white;
    background-color: #E43A13;
  }
  .subbutton.alert {
    right: 10px;
    background-color: white;
    border-radius: 50%;
    color: #ABABAB;
    top: 31px;
    border: solid 1px #BDBDBD;
  }
}