<form id="roomForm">

	{{#if alert}}<div class="alert {{alert.flag}}">{{alert.message}}</div>{{/if}}

	<div> 
		<input type="text" id="formNick" placeholder="nick" value ={{nick}}>  
	</div>

	<div> 
		<input type="text" id="formServer" placeholder="server" value="irc.freenode.net">  
	</div>

	<div> 
		<input type="text" id="formChannel" placeholder="channel" value="#learnjavascript">  
	</div>

	<div> 
		<span id="roomSubmit">submit</span> 
	</div>

</form>
	
<style>

#roomForm .alert {
	padding: 10px;
}
#roomForm .alert.warning {
	background: #FFEFA2;
}
#roomForm .alert.error {
	background: #EEB0B6;
}

#roomForm {
	text-align: center;
	padding-top: 3%;
}
#roomForm div {
	margin: 20px;
}
#roomForm input{
	color:#696969;
	background-color: #EDEDED;
	border: solid 1px #B1B1B1;
	width: 400px;
	height: 60px;
	outline: none;
	padding: 0 20px;
	border: 0;
}
#roomSubmit {
	color: #6B6B6B;
	line-height: 60px;
	display: inline-block;
	width: 400px;
	height: 60px;
	background-color: #EDEDED;
	cursor: pointer;
}
#roomSubmit:hover {
	background-color: #A7A7A7;
}

</style>