<form id="roomForm">
		<div> <input type="text" id="formNick" placeholder="nick">  </div>
		<div> <input type="text" id="formServer" placeholder="server">  </div>
		<div> <input type="text" id="formChannel" placeholder="channel">  </div>
		<div> <span id="roomSubmit">submit</span>  </div>
	</form>
	
	<style>
		#roomForm {
			text-align: center;
			padding-top: 3%;
		}
		#roomForm div {
			margin: 20px;
		}
		input{
			background-color: #EDEDED;
			border: solid 1px #B1B1B1;
			width: 400px;
			height: 60px;
			outline: none;
			padding: 0 20px;
			border: 0;
		}
		#roomSubmit {
			color: #6B6B6B;
			line-height: 60px;
			display: inline-block;
			width: 400px;
			height: 60px;
			background-color: #EDEDED;
			cursor: pointer;
		}
		#roomSubmit:hover {
			background-color: #A7A7A7;
		}
	</style>